[submodule "COMP371_all"]
	path = COMP371_all
	url = https://github.com/SniffyMcTasty/COMP371_all.git
[submodule "COMP371-Project"]
	path = COMP371-Project
	url = https://github.com/SniffyMcTasty/COMP371-Project.git
